@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

html {
	font-size: 1.125rem;
}

body {
	font-family: Roboto Slab, apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	margin-left: 2rem;
	margin-right: 2rem;
	line-height: 1.6667rem;
}

@media (max-width: 600px) {
	html {
		font-size: 15px;
	}
	body {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: inherit;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

@media (max-width: 600px) {
	h1 {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h2, h3, h4 {
	margin-top: 1.5rem;
	margin-bottom: .5rem;
	font-weight: inherit;
}

h2 a,
h3 a {
	text-decoration: underline;
}

h2 a:not(:hover),
h3 a:not(:hover) {
	color: inherit;
	text-decoration: none;
}

a[href^="http"] {
	white-space: nowrap;
}

@media (max-width: 600px) {
	a[href^="http"] {
		white-space: normal;
	}
}

a[href^="http"]::after {
	content: "\21AA";
	transform: rotate(-45deg);
	display: inline-block;
	opacity: .5;
}

.page-body {
	max-width: 52em;
	margin-left: auto;
	margin-right: auto;
}

.page-about .page-body,
.article-body p {
	text-align: justify;
}

.article-body > img {
	max-width: 100%;
	height: auto;
}

.article-comments,
.article-continue {
	margin-top: 3rem;
}

h5.separator {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAF0lEQVQImWNgQANnzpz5T3UBbIBWFgEA4qYh36ioLI4AAAAASUVORK5CYII=) center repeat-x;
	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
}

h5.separator span {
	background-color: white;
	padding: 0 1ex;
}

.article-continue .article-overview,
.article-continue h5 {
	transition: opacity 480ms linear;
}

.article-continue .article-overview:not(:hover),
.article-continue:not(:hover) h5 {
	opacity: .5;
}

code, kbd, pre, samp {
	font-family: Monaco, Consolas, "Courier New", monospace;
}

p > code {
	font-size: 80%;
}

pre,
pre[class*="language-"],
blockquote {
	background-color: #F7F7F9;
	padding: 1rem;
	border-left: 5px solid #EDEDF0;
	margin-left: calc(-5px + -1rem);
	margin-right: calc(-5px + -1rem);
}

@media (max-width: 600px) {
	pre,
	pre[class*="language-"],
	blockquote {
		border-left: 0;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

pre {
	font-size: 85%;
}

pre code {
	background: transparent !important;
	padding: 0 !important;
}

blockquote {
	color: #5d6062;
}

blockquote > :first-child {
	margin-top: 1rem;
}

blockquote > :last-child {
	margin-bottom: 1rem;
}

/* footer */

footer.page-footer {
	color: #818A91;
	margin: 1rem 0;
	padding: 1rem 0;
	font-size: .8rem;
	text-align: center;
}

footer.page-footer .container > * + * {
	margin-left: 3ex;
}

footer.page-footer:not(:hover) a {
	color: inherit;
}

/* article */

.article-overview {
	margin-top: 2rem;
}

.article-overview .article-meta {
	text-align: left;
	margin-top: -1rem;
	margin-bottom: 1rem;
}

.article-show .article-meta {
	color: #818A91;
	text-align: center;
	margin-top: -2.4rem;
	margin-bottom: 2rem;
}

.article-meta a:not(:hover) {
	color: inherit;
}

/* pages */

.page-exception h1 small,
.page-articles-index h1 small {
	font-size: .8889rem;
	font-weight: 300;
	color: #818A91;
	display: block;
	text-transform: uppercase;
	margin-top: 1rem;
	letter-spacing: .3ex;
}

/* toggles */

.article-overview .article-meta {
	display: none;
}
