/*

Layout

*/

html {
	font-size: 20px;
}

body {
	background-color: #fff;
	color: #373a3c;
	font-family: Zilla Slab, apple-system, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4444;
	margin: 0 2rem;
}

@media (max-width: 600px) {
	html {
		font-size: 18px;
	}
	body {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

h1, h2, h3, h4 {
	font-weight: inherit;
	line-height: 1;
	margin-top: 1.5rem;
	margin-bottom: .5rem;
}

h1 {
	text-align: center;
	font-size: 3rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.page-articles-show h1 {
	margin-bottom: 0;
}

h1 small {
	display: block;
	font-size: .8889rem;
	letter-spacing: .3ex;
	margin-top: 1em;
	opacity: .6;
	text-transform: uppercase;
}

@media (max-width: 800px) {
	h1 {
		font-size: 2.5rem;
	}

	h1 small {
		font-size: .6665rem;
	}
}

@media (max-width: 400px) {
	h1 {
		font-size: 2rem;
	}

	h1 small {
		font-size: .6665rem;
	}
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

article, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}

dl, ol, p, pre, ul {
	margin-top: 0
}

address, dl, ol, p, ul {
	margin-bottom: 1rem
}

ol ol, ol ul, ul ol, ul ul {
	margin-bottom: 0
}

pre,
pre[class*="language-"],
blockquote {
	background-color: #F7F7F9;
	padding: 1rem;
	border-left: 5px solid #EDEDF0;
	margin-left: calc(-5px + -1rem);
	margin-right: -1rem;
}

pre, pre[class*="language-"] {
	font-size: .8em;
	line-height: 1.5;
	overflow: auto;
	/* prism overload */
	margin-top: 0;
	margin-bottom: 1rem;
}

@media (max-width: 600px) {
	pre,
	pre[class*="language-"],
	blockquote {
		border-left: 0;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

blockquote > :first-child {
	margin-top: 0;
}

blockquote > :last-child {
	margin-bottom: 0;
}

figure {
	margin: 1rem auto;
}

figure.center {
	text-align: center;
}

figure figcaption {
	text-align: center;
	font-style: italic;
	font-size: .8rem;
	opacity: .6;
}

/*

Typography

*/

a {
	background-color: transparent;
	color: #0275d8;
	text-decoration: none;
}

a:focus, a:hover {
	color: #014c8c;
	text-decoration: underline
}

a:focus {
	outline: dotted thin;
	outline-offset: -2px
}

a:active, a:hover {
	outline: 0
}

h2 a,
h3 a {
	text-decoration: underline;
}

h2 a:not(:hover),
h3 a:not(:hover) {
	color: inherit;
	text-decoration: none;
}

code, pre, code[class*="language-"], pre[class*="language-"] {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: .8em;
	text-justify: none;
}

code {
	background-color: #f7f7f9;
	border: 1px solid #ededf0;
	border-radius: 3px;
	color: #bd4147;
	padding: .2em .4em;
	white-space: nowrap;
}

p code {
	font-size: .75em;
}

pre code {
	font-size: 1em !important;
	border: none;
	padding: 0;
	white-space:  inherit;
}

img {
	border: 0;
	vertical-align: top;
}

small {
	font-size: .8em;
}

p > small {
	display: block;
	line-height: 1.3334rem;
}

strong {
	font-weight: bolder;
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

/*

Page

*/

.page-body {
	max-width: 80ex;
	margin-left: auto;
	margin-right: auto;
}

.article-comments,
.article-continue {
	margin-top: 3rem;
}

.separator {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAF0lEQVQImWNgQANnzpz5T3UBbIBWFgEA4qYh36ioLI4AAAAASUVORK5CYII=) center repeat-x;
	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
	opacity: .6;
}

.separator span {
	background-color: white;
	padding: 0 1ex;
}

/*

Article

*/

.article-overview {
	margin-top: 2rem;
}

.article-overview h2 {
	font-size: 1.5rem;
}

.article-overview .article-meta {
	font-size: .8rem;
	text-align: left;
	margin-top: -.5rem;
	margin-bottom: 0;
	display: none; /* disabled */
}

.article-show .article-meta {
	margin-top: .5rem;
	margin-bottom: 2rem;
	text-align: center;
}

ol::marker,
li::marker {
	opacity: .8;
}

.article-body img {
	display: block;
	max-width: 100%;
	max-height: 70vh;
	height: auto;
	margin: auto;
}

@media (min-width: 600px) {
	.article-body img.align-right {
		float: right;
		margin-left: 1rem;
	}
}

/*

Pages

*/

.page-exception .page-body {
	max-width: none;
}

.page-exception,
.page-exception pre {
	margin-left: 0;
	margin-right: 0;
	border: 0;
}

.page-exception pre {
	white-space: pre-wrap;
}

/*

Page footer

*/

.page-footer {
	font-size: .8rem;
	line-height: 1rem;
	margin: 1.5rem 0;
	text-align: center;
}

.page-footer > * {
	display: inline-block;
	margin: .5rem 1.5ex;
}

/*

Muted

*/

.block-muted {
	transition: opacity 480ms linear;
}

.block-muted a {
	transition: color 480ms linear;
}

.block-muted:not(:hover) {
	opacity: .6;
}

.block-muted:not(:hover) a {
	color: inherit;
}

/*

Dark

*/

@media (prefers-color-scheme: dark) {
	body {
		background-color: #252525;
		color: #f3f3f3;
	}

	a, a:focus, a:hover {
		color: #8ab4f8;
	}

	code {
		background-color: #222;
		border-color: #ffffff1a;
		color: #bebebe;
	}

	pre code {
		background-color: transparent;
		border: none;
		color: inherit;
	}

	h5.separator span {
		background: #252525;
	}

	pre, pre[class*="language-"], blockquote {
		color: inherit;
		background: #141414;
		border-color: #ffffff1a;
	}

	code[class*="language-"], pre[class*="language-"] {
		color: inherit;
		text-shadow: none;
	}

	.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
		background: transparent;
	}
}

/*

Print

*/

@media print {
	html {
		font-size: inherit;
	}

	body {
		margin: auto;
	}

	h1 {
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	h2, h3, p {
		orphans: 3;
		widows: 3
	}

	h2, h3 {
		page-break-after: avoid;
	}

	blockquote, figure, img, pre, tr {
		page-break-inside: avoid;
	}

	figure, img {
		page-break-before: auto;
		page-break-after: auto;
	}

	*, :after, :before {
		text-shadow: none !important;
		box-shadow: none !important
	}

	a, a:visited {
		color: inherit;
		text-decoration: none;
	}

	a[href^="http"] {
		padding-right: 0;
		margin-right: auto;
	}

	a[href^="http"]::after {
		display: none;
	}

	blockquote, pre {
		border: 1px solid #999;
	}

	thead {
		display: table-header-group
	}

	img {
		max-width: 100% !important
	}

	.table {
		border-collapse: collapse !important
	}

	.table td, .table th {
		background-color: #fff !important
	}

	.table-bordered td, .table-bordered th {
		border: 1px solid #ddd !important
	}

	.article-meta,
	.article-continue,
	.page-footer {
		display: none;
	}
}
